head, body {
    font-family: arial,sans-serif;
}
a {
    text-decoration: none;
    color: #5f6368;
    font-size: 13px;
}
a:hover {
    text-decoration: underline;
}

.topBar {
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: right;
    padding-left: 15px;
    vertical-align: middle;
    line-height: 24px;
    padding-right: 15px;
    padding-top: 15px;
}
.topBar a {
    color: rgba(0,0,0,0.87);
    vertical-align: middle;
    padding-left: 15px;
    
}

.dotsTop {
    
width: 25px;
vertical-align: middle;
height: 25px;
}

.dotName {
    margin-right: 40px;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: inline-block;
    background-image: url("https://lh3.googleusercontent.com/-RJ84qb1oprc/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3re0gkYtYNjwBAov-FWyd0zFsmcKaQ.CMID/s32-c/photo.jpg");
    background-size: cover;
}

.logo {
text-align: center;
height: 233px;
margin-top: 47px;
}
#googleLogo {
    width: 272px;
    height: 92px;
    padding-top: 109px;
}

.iconLogo {

}

.underButtonText {
    font-size: small;
    line-height: 28px;
    text-align: center;
}

.underButtonText a{
        color: #1a0dab;
}

.bottomBars {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
}
.countryName {
    font-size: 15px;
    background-color: #F2F2F2;
    color: rgba(0,0,0,.54);
    padding-left: 27px; 
    text-align: left;
    line-height: 40px;
    margin-top: 23px black;
    border-top: 1px solid #e4e4e4;
}

.footer{
    background: #F2F2F2;
    padding: 10px;
    line-height: 40px;
    border-top:1px solid #e4e4e4;
}

 .footerLeft li {
     display: inline;
     padding-left: 27px;
 }

 .footerRight {
float: right;
 }

.searchBox {
    background-color: #fff;
    margin: 10px auto;
    width: 582px;
    height: 44px;
   border-radius: 24px;
   border: 1px solid #dfe1e5;
    box-shadow: none;
    z-index: 32;
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 44px !important;
    margin-top: -37px;
    display: flex;
    flex: 100%;
    flex-grow: 1;
flex-shrink: 1;
flex-basis: 100%;
}

.searchBox:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color:  rgba(223,225,229,0);
}
.searchBoxContainer {
    padding: 5px;   
    text-align: center  ;
}
.buttons {
    display: block;
}

.button {
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #F2F2F2;
    font-family: arial, sans-serif;
    color: #5F6368;
    border-color: #F2F2F2;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0px 16px;
    margin: 11px 4px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    font-size: 14px;
}
.button:hover {
    background-color: #f8f8f8;
    color:#222;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
}